body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #85D8CE, #91A7FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#taskInput, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    color: #888;
    text-decoration: line-through;
}
