body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 5px;
  }
  
  .input-group input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
  }
  
  #resultado {
    margin-top: 20px;
  }
  
  .eliminarNotaBtn {
    background-color: #ff6347; /* Color rojo tomate para el botón de eliminar */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .eliminarNotaBtn:hover {
    background-color: #ff4500; /* Color rojo naranja al pasar el mouse */
  }
  